<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <section class="3u 6u(narrower) 12u$(mobilep)">
        <h3>Contact</h3>
        <p>Hamlet Wood scout Campsite,<br />
        Stockett Lane,<br />
        East Farleigh,<br />
        Maidstone,<br />
        Kent<br />
        ME15 0QG.</p>
        <p><a href="tel:+441622744226">+44 (0)1622 744226</a></p>
        <p>OS Landranger Series Map 188<br />Map Reference:- TQ 747524</p>
      </section>
      <section class="3u 6u$(narrower) 12u$(mobilep)">
        <h3>Useful links</h3>
        <ul class="links">
          <li><a href="http://www.asgc.org.uk/">ASGC</a></li>
          <li><a href="http://www.kentscouts.org.uk/">Kent Scouts</a></li>
          <li><a href="http://www.scouts.org.uk/">UK Scouts</a></li>
          <li><a href="http://shop.scouts.org.uk/">UK Scouts Shop</a></li>
          <li><a href="http://www.scout.org/">Worldwide Scouts</a></li>
          <li><a href="https://www.facebook.com/Hamlet-Wood-Scout-Camp-Site-144794085585884/timeline/">Facebook</a></li>
          <li><a href="https://twitter.com/hamlet_wood">Twitter</a></li>
        </ul>
      </section>
      <section class="6u 12u(narrower)">
        <h3>Get In Touch</h3>
        <form action="//formspree.io/warden@hamletwood.org.uk" method="POST" target="_blank" id="contact-form">
          <input type="hidden" name="_subject" value="Request from Website" />
          <input type="text" id="gotcha" name="_gotcha" style="display:none" />
          <div class="row 50%">
            <div class="6u 12u(mobilep)">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="6u 12u(mobilep)">
              <input type="email" name="_replyto" id="email" placeholder="Email" />
            </div>
          </div>
          <div class="row 50%">
            <div class="12u">
              <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
            </div>
          </div>
          <div class="row 50%">
            <div class="12u">
              <ul class="actions">
                <li><input type="submit" class="button alt" value="Send Message" /></li>
              </ul>
            </div>
          </div>
        </form>
        <br />
        <p>Or email <a href="mailto:warden@hamletwood.org.uk">warden@hamletwood.org.uk</a></p>
      </section>
    </div>
  </div>

  <!-- Icons -->
  <ul class="icons">
    <li><a href="https://twitter.com/hamlet_wood" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/Hamlet-Wood-Scout-Camp-Site-144794085585884/timeline/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="https://github.com/hamletwood" class="icon fa-github"><span class="label">GitHub</span></a></li>
  </ul>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
    <li>&copy; {{ site.title }}. All rights reserved</li><li>Made with <i class="icon fa-heart pink"></i> by <a href="https://nimblea.pe">Nimble Ape Ltd</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</div>
