---
layout: page
permalink: /information/pricing/
title: Prices
use_site_description: true
---

<!-- Posts -->
<section class="wrapper style1">
  <div class="container">
  {% for data in site.data.prices %}
    {% assign rowfinder = forloop.index | modulo: 2 %}
    {% if rowfinder == 1 %}
      <div class="row">
      {% include formRow.html %}
    {% elsif rowfinder == 0 %}
      {% include formRow.html %}
      </div>
    {% else %}
      {% include formRow.html %}
    {% endif %}
  {% endfor %}
  {% if rowfinder != 0 %}
    </div>
  {% endif %}
  </div>

  <h2 id="maidstoneScouts">Maidstone Scouts</h2>
  <p>Discounts apply for Maidstone East &amp; West Scouts, please ask your Section Leader or GSL who will have been sent a copy of the current prices for Maidstone Scouts</p>
</section>
