---
layout: default
---

<!-- Posts -->
<section class="wrapper style1">
  <div class="container">
    <div id="content">

      <!-- Content -->
      <article>

        <h2>{{ page.title }}</h2>

        {% if page.image %}
          <span class="image featured"><img src="/images/{{ page.image }}" alt="" /></span>
        {% endif %}

        {{ content }}
      </article>

      {% for data in page.files %}
        {% assign rowfinder = forloop.index | modulo: 2 %}
        {% if rowfinder == 1 %}
          <div class="row">
          {% include formRow.html %}
        {% elsif rowfinder == 0 %}
          {% include formRow.html %}
          </div>
        {% else %}
          {% include formRow.html %}
        {% endif %}
      {% endfor %}
      {% if rowfinder != 0 %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
